@tailwind base;
@tailwind components;
@tailwind utilities;



.article-container {
    contain: paint;
}

html {
    font-family: "Inter", sans-serif!important;
}

 .checked-list{
    list-style: none;
    padding: 10px 35px;
    background-image: url('../icons/checked.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 15px;
    background-size: 20px;
    display: inline-block;
}

.unchecked-list{
    list-style: none;
    padding: 10px 35px;
    background-image: url('../icons/unchecked.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 15px;
    background-size: 20px;
}